@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

:root{
  --blue-clr: #4DFFFF;
  --grey-clr: #a8a8a8;
  --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);
}
.bg-blue{
  background: var(--blue-clr);
}

.txt-gray{
  color: var(--grey-clr);
}

.gradientText{
  display: inline-block;
  background: var(--gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.job{
  display: inline-block;
}
.job::before{
  content: attr(data-job1);
  overflow: hidden;
  display: inline-block;
  animation:
    changeText 6s linear infinite;
}
@keyframes effectText{
  from{
    max-width: 0;
  }to{
     max-width: 500px;
   }
}
@keyframes changeText {
  from{
    content: attr(data-job1);
  }
  to {
    content: attr(data-job2);
  }
}

h1{
  font-size: 5rem;
}

p{
  font-size: 1.5rem;
}

@media screen and (max-width: 680px){
  h1{
    font-size: 2.8rem;
  }

  .hero-section{
    min-height: 72vh;
  }
}

.text1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
}
